body {
    margin: 0;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

button {
    border-radius: 7px;
    padding: 5px 20px;
    background-color: #3882f6;
}

.main-text {
    font-size: 24px;
    color: #e5e7eb;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.description.secondary-text {
    color: #1f2937;
}

.title-text {
    font-size: 48px;
    font-weight: bolder;
    color: #e5e7eb;
}

.subtitle-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quote-name {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.top,
.footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px 0px;
    margin: 0;
}

.logo {
    font-weight: bold;
}

.top-content {
    display: flex;
    align-items: center;
    padding: 128px;
    gap: 32px;
    margin: 0;
}

.top-pic img {
    height: auto; 
    width: 500px;
}

.top-words {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 128px 128px;
    gap: 64px;
}

.upper-content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.one,
.two,
.three,
.four {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 16px;
}

.content-img {
    width: 150px;
    height: auto;
    border: 5px solid #3882f6;
    border-radius: 10px;
    transition: .3s;
    transition-delay: .3s;
}

.content-img:hover {
    transform: scale(1.75);
}

.lower {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 128px;
    margin: 0;
    gap: 8px;
}

.lower-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 128px 0;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px;
}

.bottom-content {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 64px 128px;
}

.bottom-title {
    font-weight: bold;
}

.button-bottom {
    border: 3px solid #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

